<style>
  p {
    text-align: center;
    margin-bottom: 40px !important;
  }
  .spinner svg {
    width: 19% !important;
    height: 85px !important;
  }
</style>
<div ng-controller="MyCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Animated SVGs</h1>
  </ion-header-bar>

  <ion-content>
    <div ng-repeat = "i in count track by $index">
    <p>
      <ion-spinner icon="android"></ion-spinner>
      <ion-spinner icon="ios"></ion-spinner>
      <ion-spinner icon="ios-small"></ion-spinner>
      <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
      <ion-spinner icon="circles" class="spinner-energized"></ion-spinner>
    </p>

    <p>
      <ion-spinner icon="crescent" class="spinner-royal"></ion-spinner>

      <ion-spinner icon="dots" class="spinner-dark"></ion-spinner>
      <ion-spinner icon="lines" class="spinner-calm"></ion-spinner>
      <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
      <ion-spinner icon="spiral"></ion-spinner>
    </p>
  </div>

  </ion-content>
  <script type="text/javascript">
  angular
    .module('ionicApp', ['ionic'])
    .controller('MyCtrl', function($scope) {
      $scope.count = new Array(100);
    });
  </script>

</div>