<style>
  body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.messages {
  margin:0;
  padding:0;
  list-style-type:none;
}

.messages li {
  display:block;
  clear:both;
  max-width:50%;
  margin:0 0 1rem 0;
  padding:0;
}

.messages li:nth-child(even) {
  float:right;
}

.messages li:nth-child(even) img {
  float:right;
}

.messages p {
  border-radius:.75rem;
  background:#e6e5eb;
  color:#383641;
  padding:.6875rem;
  margin:0;
  font-size:.875rem;
}

.messages li:nth-child(even) p {
  background:#158ffe;
  color:#fff;
}

.messages img {
  display:block;
  max-width:65%;
  border-radius:.75rem;
}

</style>
 <link href="http://code.ionicframework.com/contrib/ionic-contrib-frosted-glass/ionic.contrib.frostedGlass.css" rel="stylesheet">
<script src="http://code.ionicframework.com/contrib/ionic-contrib-frosted-glass/ionic.contrib.frostedGlass.js"></script>
<ion-pane ng-controller="PageCtrl">

  <ion-header-bar frosted-bar class="bar-frosted">
    <h1 class="title">Blurred!</h1>
  </ion-header-bar>

  <ion-content class="padding" start-y="120">
    <ol class="messages">
      <li ng-repeat="message in messages track by $index" ng-bind-html="message.content"></li>
    </ol>
  </ion-content>
  <ion-footer-bar class="bar-frosted">
    <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
  </ion-footer-bar>
</ion-pane>
<script>
  angular
    .module('ionicApp', ['ionic', 'ionic.contrib.frostedGlass'])
    .controller('PageCtrl', function($scope, $ionicFrostedDelegate, $ionicScrollDelegate, $rootScope) {
    var messageOptions = [{
      content: '<p>Wow, this is really something huh?</p>'
    }, {
      content: '<p>Yea, it\'s pretty sweet</p>'
    }, {
      content: '<p>I think I like Ionic more than I like ice cream!</p>'
    }, {
      content: '<p>Gee wiz, this is something special.</p>'
    }, {
      content: '<img src="http://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg">'
    }, {
      content: '<p>Is this magic?</p>'
    }, {
      content: '<p>Am I dreaming?</p>'
    }, {
      content: '<img src="http://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg">'
    }, {
      content: '<p>Am I dreaming?</p>'
    }, {
      content: '<p>Yea, it\'s pretty sweet</p>'
    }, {
      content: '<p>I think I like Ionic more than I like ice cream!</p>'
    }, ];

    messageOptions =messageOptions.concat(messageOptions).concat(messageOptions).concat(messageOptions);

    var messageIter = 0;
    $scope.messages = messageOptions.slice(0, messageOptions.length);
    $scope.add = function() {
      var nextMessage = messageOptions[messageIter++ % messageOptions.length];
      $scope.messages.push(angular.extend({}, nextMessage));

      // Update the scroll area and tell the frosted glass to redraw itself
      $ionicFrostedDelegate.update();
      $ionicScrollDelegate.scrollBottom(true);
    };
  });
</script>